	<!-- 主体 -->
	<div id="main">
		<!-- lunbo start -->
		<div class="lunbo w950">
			<ul class="lunbo-img">
				<li>
					<a href="#">
            <%= image_tag '1.jpg' %>
					</a>
				</li>
				<li>
					<a href="#">
						<%= image_tag '2.jpg' %>
					</a>
				</li>
				<li>
					<a href="#">
						<%= image_tag '3.jpg' %>
					</a>
				</li>
				<li>
					<a href="#">
						<%= image_tag '4.jpg' %>
					</a>
				</li>
				<li>
					<a href="#">
						<%= image_tag '5.jpg' %>
					</a>
				</li>
			</ul>
			<div class="lunbo-footer">
				<ul class="lunbo-num">
					<li class="active">1</li>
					<li>2</li>
					<li>3</li>
					<li>4</li>
					<li>5</li>
				</ul>
			</div>
		</div>
		<!-- lunbo end -->

		<div class="peicai w950">
      <%= image_tag 'peicai.jpg' %>
		</div>

		<div class="w950 kefu">
			<div class="kefu-img"></div>
			<ul class="wangwang">
				<li><b>旺旺：</b>店小二</li>
				<li><b>电话：</b>0511-1111111, 18600000000</li>
			</ul>
			<div class="addr">
				农庄地址：句容市张庙镇青城埠 金古山庄
      </div>
		</div>

		<div class="w950 daohang">
			<div class="daohang-left">
				<h2>
					快捷导航
					<span>
						<a href="#">查看所有宝贝</a>&gt;&gt;
						<a href="#">按销量</a> |
						<a href="#">按新品</a> |
						<a href="#">按价格</a> |
						<a href="#">按收藏</a>
					</span>
				</h2>
				<div class="left-list">
					<dl>
						<dt><a href="#">蔬菜宅配</a></dt>
						<dd class="left-list-img">
              <%= image_tag 'T2QOItXfdXXXXXXXXX_!!843922678.jpg' %>
            </dd>
						<dd><a href="#">二人家庭份</a></dd>
						<dd><a href="#">三人家庭份</a></dd>
						<dd><a href="#">四人家庭份</a></dd>
					</dl>
					<dl>
						<dt><a href="#">肉蛋宅配</a></dt>
						<dd class="left-list-img">
              <%= image_tag 'T2djEsXjBaXXXXXXXX_!!843922678.jpg' %>
            </dd>
						<dd><a href="#">生态黑猪肉份额</a></dd>
						<dd><a href="#">散养柴鸡蛋份额</a></dd>
						<dd><a href="#">散养柴鸡份额</a></dd>
					</dl>
					<dl>
						<dt><a href="#">菜地租种</a></dt>
						<dd class="left-list-img">
              <%= image_tag 'T2HRIsXo4XXXXXXXXX_!!843922678.jpg' %>
            </dd>
						<dd><a href="#">自主劳动份额</a></dd>
						<dd><a href="#">托管劳动份额</a></dd>
						<dd><a href="#">家庭健康菜园</a></dd>
					</dl>
					<dl>
						<dt><a href="#">零售体验</a></dt>
						<dd class="left-list-img">
              <%= image_tag 'T2J2osXkFaXXXXXXXX_!!843922678.jpg' %>
            </dd>
						<dd><a href="#">健康蔬菜包</a></dd>
						<dd><a href="#">畜禽产品零售</a></dd>
						<dd><a href="#">季节特色单品</a></dd>
					</dl>
					<dl>
						<dt><a href="#">玩转农园</a></dt>
						<dd class="left-list-img">
              <%= image_tag 'T2KiMsXe4aXXXXXXXX_!!843922678.jpg' %>
            </dd>
						<dd><a href="#">家庭休闲</a></dd>
						<dd><a href="#">亲子社区</a></dd>
						<dd><a href="#">团队体验</a></dd>
					</dl>
				</div>
			</div>
      
			<div class="daohang-right">
				<h2>店铺公告</h2>
				<div class="gonggao">
					<marquee width="170" style="height:70px;" scrollamount="1" direction="up">欢迎您光临金古山庄，农园位于北京市西山凤凰岭脚下，紧邻京密引水渠，环境优美，风景秀丽，拥有北京最好的水源，出产各种优质生鲜农产品。农园多年来坚持不用农药化肥，在业界享有良好的声誉，获得会员的持续好评。目前，小毛驴拥有后沙涧村和柳林村两个农园。</marquee>
				</div>
				<ul class="shoucang">
					<li class="active">收藏</li>
					<li>旺旺</li>
					<li class="last">营业</li>
				</ul>
				<ul class="shoucang-detail">
					<li class="active">收藏</li>
					<li>小毛驴</li>
					<li>营业时间</li>
				</ul>
			</div>
    </div>
    
		<div class="w950 tuijian">
			<h2>
				农园精品推荐
				<span>
					<a href="#">蔬菜宅配</a>
					<a href="#">肉蛋宅配</a>
					<a href="#">菜地租种</a>
					<a href="#">玩转农园</a>
				</span>
			</h2>
			<ul class="tuijian-list">
				<li>
					<a class="tuijian-list-img" href="#">
            <%= image_tag 'TB1n0vmFVXXXXXrXFXXXXXXXXXX_!!0-item_pic.jpg_310x310.jpg' %>
					</a>
					<b class="tuijian-list-icon">01</b>
					<dl class="tuijian-list-title">
						<dt>精品推荐-农园精品特别推荐宝贝</dt>
						<dd>Bset Recomments</dd>
					</dl>
					<div class="tuijian-list-detail">小毛驴市民农园 手工制作 传统五仁月饼 火热预售开始啦</div>
					<div class="tuijian-list-num">
						售出：<span>5</span> &nbsp;&nbsp;收藏：<span>5</span> &nbsp;&nbsp;评论：<span>0</span>
					</div>
					<div class="tuijian-list-jieshao">
						<span>宝贝简介：</span>
					</div>
					<div class="tuijian-list-price">
						价格：<span>40.00</span>
					</div>
					<div class="tuijian-list-url">
						<div class="url-addr">#</div>
						<div class="url-shoucang">收藏宝贝</div>
						<div class="url-goumai">立即购买</div>
					</div>
				</li>

				<li>
					<a class="tuijian-list-img" href="#">
            <%= image_tag 'TB1IKmUFVXXXXcPaXXXXXXXXXXX_!!0-item_pic.jpg_310x310.jpg' %>
					</a>
					<b class="tuijian-list-icon">02</b>
					<dl class="tuijian-list-title">
						<dt>精品推荐-农园精品特别推荐宝贝</dt>
						<dd>Bset Recomments</dd>
					</dl>
					<div class="tuijian-list-detail">小毛驴市民农园自产毛豆2斤 非转基因 无农药 无化肥 京津</div>
					<div class="tuijian-list-num">
						售出：<span>5</span> &nbsp;&nbsp;收藏：<span>5</span> &nbsp;&nbsp;评论：<span>0</span>
					</div>
					<div class="tuijian-list-jieshao">
						<span>宝贝简介：</span>
					</div>
					<div class="tuijian-list-price">
						价格：<span>2.00</span>
					</div>
					<div class="tuijian-list-url">
						<div class="url-addr">#</div>
						<div class="url-shoucang">收藏宝贝</div>
						<div class="url-goumai">立即购买</div>
					</div>
				</li>

				<li>
					<a class="tuijian-list-img" href="#">
            <%= image_tag 'TB1O7awFVXXXXXzXFXXXXXXXXXX_!!0-item_pic.jpg_310x310.jpg' %>
					</a>
					<b class="tuijian-list-icon">03</b>
					<dl class="tuijian-list-title">
						<dt>精品推荐-农园精品特别推荐宝贝</dt>
						<dd>Bset Recomments</dd>
					</dl>
					<div class="tuijian-list-detail">小毛驴市民农园自产 生态老玉米10根 仅限京津地区销售</div>
					<div class="tuijian-list-num">
						售出：<span>5</span> &nbsp;&nbsp;收藏：<span>5</span> &nbsp;&nbsp;评论：<span>0</span>
					</div>
					<div class="tuijian-list-jieshao">
						<span>宝贝简介：</span>
					</div>
					<div class="tuijian-list-price">
						价格：<span>2.00</span>
					</div>
					<div class="tuijian-list-url">
						<div class="url-addr">#</div>
						<div class="url-shoucang">收藏宝贝</div>
						<div class="url-goumai">立即购买</div>
					</div>
				</li>

				<li>
					<a class="tuijian-list-img" href="#">
            <%= image_tag 'TB2uXi8XVXXXXXVXXXXXXXXXXXX_!!843922678.jpg_310x310.jpg' %>
					</a>
					<b class="tuijian-list-icon">04</b>
					<dl class="tuijian-list-title">
						<dt>精品推荐-农园精品特别推荐宝贝</dt>
						<dd>Bset Recomments</dd>
					</dl>
					<div class="tuijian-list-detail">专拍，小毛驴市民农园补邮费、补相关费用等特殊订单</div>
					<div class="tuijian-list-num">
						售出：<span>5</span> &nbsp;&nbsp;收藏：<span>5</span> &nbsp;&nbsp;评论：<span>0</span>
					</div>
					<div class="tuijian-list-jieshao">
						<span>宝贝简介：</span>
					</div>
					<div class="tuijian-list-price">
						价格：<span>1.00</span>
					</div>
					<div class="tuijian-list-url">
						<div class="url-addr">#</div>
						<div class="url-shoucang">收藏宝贝</div>
						<div class="url-goumai">立即购买</div>
					</div>
				</li>

				<li>
					<a class="tuijian-list-img" href="#">
            <%= image_tag 'T1oSLLFGBXXXXXXXXX_!!0-item_pic.jpg_310x310.jpg' %>
					</a>
					<b class="tuijian-list-icon">05</b>
					<dl class="tuijian-list-title">
						<dt>精品推荐-农园精品特别推荐宝贝</dt>
						<dd>Bset Recomments</dd>
					</dl>
					<div class="tuijian-list-detail">绿盟养生 黑豆（绿心/黄心）河北顺平合作社农家种植</div>
					<div class="tuijian-list-num">
						售出：<span>5</span> &nbsp;&nbsp;收藏：<span>5</span> &nbsp;&nbsp;评论：<span>0</span>
					</div>
					<div class="tuijian-list-jieshao">
						<span>宝贝简介：</span>
					</div>
					<div class="tuijian-list-price">
						价格：<span>25.00</span>
					</div>
					<div class="tuijian-list-url">
						<div class="url-addr">#</div>
						<div class="url-shoucang">收藏宝贝</div>
						<div class="url-goumai">立即购买</div>
					</div>
				</li>
			</ul>

			<ul class="tuijian-icon-list">
				<li class="active"><%= image_tag 'TB1n0vmFVXXXXXrXFXXXXXXXXXX_!!0-item_pic.jpg_60x60.jpg' %></li>
				<li><%= image_tag 'TB1IKmUFVXXXXcPaXXXXXXXXXXX_!!0-item_pic.jpg_60x60.jpg' %></li>
				<li><%= image_tag 'TB1O7awFVXXXXXzXFXXXXXXXXXX_!!0-item_pic.jpg_60x60.jpg' %></li>
				<li><%= image_tag 'TB2uXi8XVXXXXXVXXXXXXXXXXXX_!!843922678.jpg_60x60.jpg' %></li>
				<li><%= image_tag 'T1oSLLFGBXXXXXXXXX_!!0-item_pic.jpg_60x60.jpg' %></li>
			</ul>
		</div>
    
		<div class="w950 rili">
			<div class="rili-left">
				<ul class="week">
					<li>日</li>
					<li>一</li>
					<li>二</li>
					<li>三</li>
					<li>四</li>
					<li>五</li>
					<li>六</li>
				</ul>

				<ul class="month-day">
					<li class="none"></li>
					<li class="none"></li>
					<li class="none"></li>
					<li class="none"></li>
					<li class="none"></li>
					<li>1</li>
					<li class="weekend">2</li>
					<li class="weekend">3</li>
					<li>4</li>
					<li class="sp active">5</li>
					<li class="sp">6</li>
					<li class="sp">7</li>
					<li class="sp">8</li>
					<li class="weekend">9</li>
					<li class="weekend">10</li>
					<li>11</li>
					<li>12</li>
					<li>13</li>
					<li>14</li>
					<li>15</li>
					<li class="weekend">16</li>
					<li class="weekend">17</li>
					<li>18</li>
					<li>19</li>
					<li>20</li>
					<li>21</li>
					<li>22</li>
					<li class="weekend">23</li>
					<li class="weekend">24</li>
					<li>25</li>
					<li>26</li>
					<li>27</li>
					<li>28</li>
					<li>29</li>
					<li class="weekend">30</li>
					<li class="weekend">31</li>
				</ul>
			</div>

			<div class="rili-right">
				<ul class="rili-img">
					<li><%= image_tag 'TB2.xDoXVXXXXbkXpXXXXXXXXXX_!!843922678.jpg' %></li>
					<li><%= image_tag 'TB2n_foXVXXXXanXXXXXXXXXXXX_!!843922678.jpg' %></li>
					<li><%= image_tag 'TB2E8_oXVXXXXaYXXXXXXXXXXXX_!!843922678.jpg' %></li>
					<li><%= image_tag 'TB24ozoXVXXXXXvXXXXXXXXXXXX_!!843922678.jpg' %></li>
				</ul>
				<div class="rili-footer">
					<a href="#">2014 暑假小毛驴市民农园 自然·木工 体验营 招生啦～</a>
				</div>
			</div>
		</div>

	</div>

	<!-- 尾部 -->
	<div id="footer">
		<ul class="w950 footer-list">
			<li>
				<div class="footer-list-img shijian"></div>
				<dl class="footer-list-detail">
					<dt>营业时间</dt>
					<dd>非常感谢您光临农园小店。农园每周四休假，其余时间正常上班。每日工作时间为上午8:30至下午18:30。</dd>
				</dl>
			</li>
			<li>
				<div class="footer-list-img peisong"></div>
				<dl class="footer-list-detail">
					<dt>配送方式</dt>
					<dd>配送份额由农园每周固定时间配送；散单、零售等使用韵达快递，下午配货，当天晚上发货，第二天送达。</dd>
				</dl>
			</li>
			<li>
				<div class="footer-list-img baozhuang"></div>
				<dl class="footer-list-detail">
					<dt>产品包装</dt>
					<dd>会员配送一般使用周转箱，循环使用；零售、体验等使用牛皮纸箱，部分会加放冰袋。恭请您支持环保方式。</dd>
				</dl>
			</li>
			<li>
				<div class="footer-list-img shouhou"></div>
				<dl class="footer-list-detail">
					<dt>关于售后</dt>
					<dd>生鲜产品受气候和天气影响，每批质量会有差异，如果你收货后发现任何问题，请联系我们调换或补偿哦。</dd>
				</dl>
			</li>
		</ul>
	</div>
